@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

html,
document {
  background: #e5e7eb;
}

/* body .Toastify__toast {
  background-color: #343a40 !important; 
}

body .Toastify__toast--info {
  background-color: #c084fc !important;
}

body .Toastify__toast--success {
  background-color: #28a745 !important; 
}

body .Toastify__toast--error {
  background-color: #dc3545 !important; 
}

body .Toastify__toast--warning {
  background-color: #ffc107 !important; 
} */
