@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (max-width: 374px) {
    .text-xs-se {
      @apply text-sm;
    }

    .space-y-se {
      @apply space-y-1;
    }
  }
}

body {
  @apply font-sans;
}

html,
document {
  background: #e5e7eb;
}

body .Toastify__toast {
  background-color: #343a40 !important;
}

body .Toastify__toast--info {
  background-color: #c084fc !important;
}

body .Toastify__toast--success {
  background-color: #04764e !important;
}

body .Toastify__toast--error {
  background-color: #d32f2f !important;
}

body .Toastify__toast--warning {
  background-color: #ffc107 !important;
}

.pixelated-effect {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  filter: contrast(500%) brightness(0.4) saturate(3);
}

/* Tüm input alanları için varsayılan stilleri sıfırlama */
input,
textarea,
select {
  border-radius: 0; /* Yuvarlaklığı kaldırma */
  box-shadow: none; /* Varsayılan gölgeyi kaldırma */
  appearance: none; /* iOS ve bazı tarayıcılardaki varsayılan stilleri kaldırma */
  -webkit-appearance: none; /* Safari ve diğer WebKit tabanlı tarayıcılar için */
}
